<div class="d-flex justify-content-around p-4 mt-2 footer">
  <div class="d-flex flex-column">
    <h6>Usefull Links</h6>
    <a href="#">Your Account</a>
    <a href="#">Become an Affiliate</a>
    <a href="#">Help</a>
  </div>

  <div class="d-flex flex-column">
    <h6>Help Center</h6>
    <a href="#">Privacy</a>
    <a href="#">Terms Of Services</a>
    <a href="#">Jobs</a>
  </div>

  <div class="d-flex flex-column">
    <h6>Contact Us</h6>
    <a href="#">
      <i class="fa-solid fa-house-chimney"></i> New Yourk, NY 10019 US</a
    >
    <a href="#"><i class="fa-solid fa-envelope"></i> infoe&#64;example.com</a>
    <a href="#"><i class="fa-solid fa-phone"></i> +1 234 5678</a>
  </div>
</div>
<div class="text-center copyright">&#169; Copyright: 2010 - 2025 WMT, corp</div>
