<div
  class="container d-flex flex-column justify-content-center align-items-center"
>
  <img
    src="../../../assets/images/9706583.png"
    class="self-align-center w-25 mx-auto"
    alt=""
  />
  <p>welcome, {{ userName }}</p>
  <div class="d-flex flex-column align-items-end">
    <div>
      <label for="" class="mx-2">User name </label>
      <input disabled type="text" [value]="userName" />
    </div>
    <div>
      <label for="" class="mx-2">Email </label>
      <input disabled type="text" [value]="email" />
    </div>
  </div>
</div>
